@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    background: #000;
    font-family: 'Space Mono', monospace;
  }
  
.container {
    height: 100%;
    text-align: center;
    margin-top:300px;
}

h1, h2, h3 {
    color: white;
}

#wrapper {
    cursor: pointer;
}

#button {
    padding: 20px 60px 20px 60px;
    font-size: 17px;
    background-color: white;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Space Mono', monospace
}

#button:hover{
    background-color: yellow;
}